{# empty Twig template #}
{% extends 'layout.html.twig' %}
{% block body %}
<div class="banner-section">
    <h3 class="tittle">{{categories.name}} <i class="glyphicon glyphicon-picture"></i></h3>
<div class="banner">
                 <div  class="callbacks_container">
					<ul class="rslides" id="slider4">
                                            {% for i, article in categories.articles %}
                                                {% if (i<4)%}
      {% for j, media in article.medias %}
                                                        {% if j<1 %}
					        <li>
                                                  
						  <img src="{{media.assetPath| imagine_filter('my_thumb') }}" class="img-responsive" alt="" />
                                                  <div class="b-bottom"> 
                                                      <h5 class="top"><a href="{{path ('hello',{'slug':article.slug,'_format': 'html'}) }}">{{article.title}}</a></h5>
                                                    <p>On Aug 25 <a class="span_link" href="#"><span class="glyphicon glyphicon-On Aug 25 comment"></span>0 </a><a class="span_link" href="#"><span class="glyphicon glyphicon-eye-open"></span>56 </a><a class="span_link" href="single.html"><span class="glyphicon glyphicon-circle-arrow-right"></span></a></p>
                                                  </div>
					        </li>  
                                                {% endif %}
                                            {% endfor %}
                                                {% endif %}
                                            {% endfor %}
					</ul>
		  </div>
					<!--banner-->
			 
		 <div class="clearfix"> </div>
			    
          <div class="top-news">
            {% set M = 0 %}
            {% set L = 0 %}
              {% for k, article in categories.articles %}
                {% set L = L + 1 %}
                {% if (k>3)%}   
                                {% if M < 1 %}
                                <div class="top-inner">
                                    <div class="col-md-6 top-text {{ cycle(['col-md-6 top-text','col-md-6 top-text two'],loop.index0) }}">
                                                {% for j, media in article.medias %}
                                                        {% if j<1 %}
                                                 <a href="single.html"><img src="images/pic1.jpg" class="img-responsive" alt=""></a>
                                                 {% endif %}
                                                {% endfor %}
                                                 <h5 class="top"><a href="single.html">{{ article.title }}</a></h5>
                                                        <p>Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt labore dolore magna aliquyam eratsed diam justo duo dolores rebum.</p>
                                                    <p>On Jun 25 <a class="span_link" href="#"><span class="glyphicon glyphicon-comment"></span>0 </a><a class="span_link" href="#"><span class="glyphicon glyphicon-eye-open"></span>56 </a><a class="span_link" href="single.html"><span class="glyphicon glyphicon-circle-arrow-right"></span></a></p>
                                    </div>
                                {% set M = M + 1 %}
                                {% else %}
                                  <div class="col-md-6 top-text {{ cycle(['col-md-6 top-text','col-md-6 top-text two'],loop.index0) }} ">
                                      {% for j, media in article.medias %}
                                                        {% if j<1 %}
                                    <a href="single.html"><img src="images/pic1.jpg" class="img-responsive" alt=""></a>
                                    {% endif %}
                                                {% endfor %}
                                    <h5 class="top"><a href="single.html">{{ article.title }} </a></h5>
                                    <p>Consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt labore dolore magna aliquyam eratsed diam justo duo dolores rebum.</p>
                                    <p>On Jun 25 <a class="span_link" href="#"><span class="glyphicon glyphicon-comment"></span>0 </a><a class="span_link" href="#"><span class="glyphicon glyphicon-eye-open"></span>56 </a><a class="span_link" href="single.html"><span class="glyphicon glyphicon-circle-arrow-right"></span></a></p>
                                  </div>            
                                <div class="clearfix"> </div>
                                </div>
                                {% set M = 0%}
                                {% endif %}      
                {% endif %}
              {% endfor %} 
            {% if not L is divisible by(2) %}</div> {% endif %}
	            </div>
	</div>
			   <!--//banner-->      		  
					<!--//top-news-->
 </div>
<div class="banner-right-text"></div>
{% endblock %}